<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Problem</title>
    </head>
    <body>
        <div>
            <!-- title -->
        </div>
        <div class="">
            Description
        </div>
        <div class="">
            <!-- statement -->
        </div>
        <div class="">
            Input
        </div>
        <div class="">
            <!-- input_format -->
        </div>
        <div class="">
            Output
        </div>
        <div class="">
            <!-- output_format -->
        </div>
        <div class="">
            Sample Input
        </div>
        <div class="">
            <!-- samp_input -->
        </div>
        <div class="">
            Sample Output
        </div>
        <div class="">
            <!-- samp_output -->
        </div>
    </body>
</html>
