<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Problem</title>
    </head>
    <body>
        <div>
            <h1><a href="/oj/">Home page</a></h1>
        </div>
        <div>
            <!-- title -->
            <h>{{problem.title}}</h>
        </div>
        <div class="">
            Description
        </div>
        <div class="">
            <!-- statement -->
            <p>{{problem.description}}</p>

        </div>
        <div class="">
            Input
        </div>
        <div class="">
            <!-- input_format -->
            <p> {{problem.input_format}} </p>

        </div>
        <div class="">
            Output
        </div>
        <div class="">
            <!-- output_format -->
            <p>{{problem.output_format}}</p>

        </div>
        <div class="">
            Sample Input
        </div>
        <div class="">
            <!-- samp_input -->
            <p>{{problem.example_inp}}</p>
        </div>
        <div class="">
            Sample Output
        </div>
        <div class="">
            <!-- samp_output -->
            <p>{{problem.exmaple_outp}}</p>
        </div>
        <div class="">

                <form enctype="multipart/form-data" action="{% url 'submit' prob_id=problem.prob_id %}" method="post">
                    {% csrf_token %}
                    Language:
                    <select name='lang'>
                        <option value="C">C(gcc)</option>
                        <option value="C++">C++(g++)</option>
                        <!-- waiting to add-->
                    </select>
                    <br/>

                    <input type="file" name="code" />
                    <input type="submit" value="upload"/>
                 </form>
            </div>

    </body>
</html>
