<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Submit your code</title>
    </head>
    <body>
        <div>
            <h1><a href="/oj/">Home page</a></h1>
        </div>
        <form class="" action="/oj/submit" method="post">
            <select class="" name="lang">
                <option value="C">C(gcc)</option>
                <option value="C++">C++(g++)</option>
            </select>
            <input type="text" name="" value="">
            <textarea name="code" rows="20" cols="80"></textarea>
        </form>
    </body>
</html>
